@model GangsterBank.Web.Models.ClientProfile.BasicDetailsViewModel

<div class="row">
    <div class="col-sm-2">
        @{Html.RenderAction("Menu", new { clientId = Model.ClientId });}
    </div>

    <div class="col-sm-10">

        @using (this.Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.EditorForModel()
            <br/>
            @(Html.Kendo().Button().Name("Save").Content("Save").Tag("button"))
        }

    </div>
</div>
