
<div class="row" style="z-index: 10; position: relative;">
    <h1>Who we are?</h1>
    <p>
        Long since , in difficult times , people do not seek help to the authorities and the law ,
        but they ask for help to the representatives of the Family. Now , nothing was changed .
    </p>

    <p>
        Our bank is the guarantor of help to the deserving people. We respect our customers ,
        and we ask the same relationship to the bank.
    </p>
    <p>
        Everyone knows that everyone must to pay for everything . Gangster Bank is not exception.
        Taking our help now, you'll pay for it in the future.
    </p>
    <p>
        We love fair-play. Our terms and conditions are transparent and understandable.
        If you accept the terms and share our principles , we deem it an honor to work with you.
    </p>
    <p>
        If not, then you should know: You 'd better pass by.
    </p>
    <img src="@Url.Content("~/Content/img/sopranos.jpg")" alt="Who we are"  class="img-responsive" style="border:1px solid white;"/>
</div>

<script>
    $(".backLeftImg").hide();
</script>